[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
datalad = "==0.13.3"
codecov = "*"
pytest = "*"
coverage = "*"
mock = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-asyncio = "*"

[packages]
falcon = "==3.0.1"
requests = "*"
GitPython = "*"
PyJWT = "*"
gunicorn = "*"
boto3 = "*"
elasticsearch = "*"
pygit2 = "*"
PyGithub = "==1.54.1"
uvicorn = "*"
